.commission-container {
 
    padding-top: 5%;
    padding-bottom: 5%;
}

.rules-container {
   
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    color: rgb(71, 91, 112) !important;
}

.between {
    background-color: rgb(255, 243, 225) !important;
}

.input-group-text {
    background-color: rgb(71, 91, 112) !important;
    color: rgb(255, 243, 225) !important;
    border-color: rgb(71, 91, 112) !important;;
}
