.image-container {
    margin-left: 25%;
    padding-bottom: 50px;
    padding-top: 20px;
}
.img-responsive {
    height: 70%;
}
.aboutmetext {
    color: rgb(71, 91, 112) !important;
    text-align: center;
    margin-right: 25%;
    padding-top: 150px;
    padding-bottom: 50px;
}
