.main-navbar {
    background-color: rgb(71, 91, 112) !important; 
}

.navbar-brand {
    color: rgb(255, 243, 225) !important;
    margin-top: 12px;
}

.nav-link {
    color: rgb(255, 243, 225) !important;
}

