.main-navbar {
    background-color: rgb(71, 91, 112) !important; 
}

.navbar-brand {
    color: rgb(255, 243, 225) !important;
    margin-top: 12px;
}

.nav-link {
    color: rgb(255, 243, 225) !important;
}

.modal-footer {
    color: rgb(255, 243, 225) !important;
    background-color: rgb(71, 91, 112) !important; 
}

.modal-header {
    color: rgb(255, 243, 225) !important;
    background-color: rgb(71, 91, 112) !important; 
}

.modal-content {
    border: 0px solid rgb(71, 91, 112) !important;
    background-color: rgb(255, 243, 225) !important;     
}

.modal-body {
    color: rgb(71, 91, 112);  
    margin-left: 5%;
    margin-right: 5%;
}

.btn-outline-dark {
    color: rgb(71, 91, 112) !important;
   
}

