.image-container {
    margin-left: 25%;
    padding-bottom: 50px;
    padding-top: 20px;
}
.img-responsive {
    height: 60%;
}
.contactmetext {
    color: rgb(71, 91, 112) !important;
    text-align: center;
    margin-right: 25%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 10px;
}
